name: 自动签发证书

on:
  schedule:
    - cron: "0 2 1 * *"
  watch:
    types: [started]

env:
    ACME: /home/runner/.acme.sh/acme.sh
    DOMAIN_DNS: ${{ secrets.DOMAIN_DNS }}
    DOMAIN: xkcoding.com

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id
    steps:
    - name: Checkout
      uses: actions/checkout@v2
    - name: Install & Configure ACME.SH
      run: |
        curl  https://get.acme.sh | sh
        echo "$DOMAIN_DNS" >> /home/runner/.acme.sh/account.conf
    - name: Issue & Deploy Certificates
      run: |
        mkdir -p ./ssl
        $ACME --issue --dns dns_ali -d $DOMAIN -d *.$DOMAIN
        $ACME --installcert -d $DOMAIN -d *.$DOMAIN --ca-file ./ssl/ca.cer --cert-file ./ssl/$DOMAIN.cer --key-file ./ssl/$DOMAIN.key --fullchain-file ./ssl/fullchain.cer
        zip -r ssl.zip ssl
    - name: Send mail
      uses: dawidd6/action-send-mail@v2
      with:
        server_address: smtp.qiye.aliyun.com
        server_port: 465
        username: ${{ secrets.EMAIL_USER }}
        password: ${{ secrets.EMAIL_PASS }}
        subject: "[Actions]自动签发证书"
        body: "${{DOMAIN}} 证书签发成功!"
        to: 237497819@qq.com
        from: "[Actions]系统通知"
        attachments: ./ssl.zip
